*,
*::before,
*::after {
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: hsl(0, 0%, 98%);
  font-family: 'Red Hat Display Variable', sans-serif;
  font-size: 1.8rem;
  line-height: 26px;
  padding-top: 80px;
  color: hsl(240, 10%, 57%);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
